.text-white{
	color:white;
}
.text-center{
	text-align: center;
}

.font-wei-400{
	font-weight: 400;
}
.font-wei-200{
	font-weight: 200;
}
.alig-left{
	text-align: left;
	float: left;
}
.left{
	margin-left:-10px;
}
.rosa{
	color: #F06141;
}
.bottom{
	margin-bottom: 3%;
}
.top{
	margin-top: 3%;
}
.top-p{
padding-top: 5%;
}
.bottom-p{
	padding-bottom: 5%;
}
.b-rosa{
	background-color:#F06141;
}
.inline{
	display: inline-block;
}
