/*Tamano letras*/
@mixin estilos($color,$tamano,$weight){
	color:$color;
	font-size:$tamano;
	font-weight: $weight;
}
@mixin estilo($color,$weight){
	color:$color;
	font-weight: $weight;
}

.centro{
	h5{
		@include estilo(black,600);
			}
}
.text-contact{/*letras de contact dentro de caja*/
	@include estilos(white,3em,600);
}
.horario{
	@include estilos(black,12px,600);
}
.precio{
	@include estilos(#FA5858,12px,600);
}
.sample{
	@include estilos(black,15px,600);
}